<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>{{title}}</title>
    <meta name="theme-color" content="#B0C760" />
    <script src="../static/javascript/fontawesome.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css"s>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="../static/javascript/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/datatables.css"/>
    <script type="text/javascript" src="../static/javascript/datatables.min.js"></script>
    <script type="text/javascript" src="../static/javascript/jquery.bootstrap-growl.js"></script>
    <script src="../static/javascript/script.js"></script>
    <link rel="icon" href="../static/images/logo2.png">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<meta http-equiv="refresh" content="60">-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a style="max-width: 70px;" class="navbar-brand" href="/">
          <img class="img-fluid" src="../static/images/logo.png" alt="RIOT">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <!--<a style="color:#B0C760" class="nav-link" id="home" href="/dashboard">Home <span class="sr-only">(current)</span></a>-->
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!--<a class="nav-link" id="register" href="#">Register</a>-->
          <!--<a class="nav-link" id="login" href="#" data-toggle="modal" data-target="#login_modal">Login</a>-->
            {% if current_user.is_authenticated %}
                <a class="nav-link" id="logout" href="/log_out">Log Out</a>
            {% endif %}
        </form>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == "message" %}
                {% set category = "success" %}
                {% endif %}
                        <script>
                            $( document ).ready(function() {
                                $.bootstrapGrowl("{{message}}", {
                                      ele: 'body', // which element to append to
                                      type: '{{category}}', // (null, 'info', 'danger', 'success')
                                      offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
                                      align: 'center', // ('left', 'right', or 'center')
                                      width: 'auto', // (integer, or 'auto')
                                      delay: 10000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
                                      allow_dismiss: true, // If true then will display a cross to close the popup.
                                      stackup_spacing: 10 // spacing between consecutively stacked growls.
                                });
                            });
                        </script>s
                {% endfor %}
            {% endif %}
         {% endwith %}
    {% block body %}
    {%block nav_tabs%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="nodesNavLink" href="/dashboard/nodes">Nodes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="podsNavLink" href="/dashboard/pods">Pods</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="servicesNavLink" href="/dashboard/services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deployNavLink" href="/dashboard/deployments">Deployments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deployAppNavLink" href="/dashboard/deploy">Deploy App</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="createServiceNavLink" href="/dashboard/create_service">Create Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="updateDeploymentNavLink" href="/dashboard/update_deployment">Update Deployment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="updateServiceNavLink" href="/dashboard/update_service">Update Service</a>
        </li>
        </ul>
    {%endblock%}
    {% endblock %}
    <br>
    <footer class="footer fixed-bottom" style="height:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li style="color: #B0C760!important;" class="list-inline-item copyright text-muted small align-right">Copyright © 2018. All Rights Reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!--Confirm modal-->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="confirm_modal_title" class="modal-title">Remove</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="confirm_modal_body">Are you sure you want to remove?</p>
          </div>
          <div class="modal-footer">
            <button id="delete" type="button" class="btn btn-success btn-md">Yes</button>
            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
</div>
</body>
</html>