{% extends "base.html" %}

{% block body %}



<div class="card card-primary " style="max-width: 80rem;">
    <div class="card-header text-center">
        <div class="row">
            <div class="col">
              <h4>Admin Cluster Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="card-block">
        {%block nav_tabs%}
            {{ super() }}
        {%endblock%}
    <div class="table-responsive  table-hover">
    <br>
    <table id="nodes_table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Disk</th>
            <th>Memory</th>
            <th>Disk Pressure</th>
            <th>Age</th>
            <th>Activity</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
</div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#register").hide();
        $("#login").hide();
        $("#nodesNavLink").addClass("active");
        create_table("nodes");
    })
</script>
{% endblock %}