{% extends "base.html" %}

{% block body %}



<div class="card card-primary " style="max-width: 80rem;">
    <div class="card-header text-center">
        <div class="row">
            <div class="col">
              <h4>Admin Cluster Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="card-block">
        {%block nav_tabs%}
            {{ super() }}
        {%endblock%}
    <div class="table-responsive table-hover">
    <br>
    <table id="services_table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Cluster IP</th>
            <th>Node Port</th>
            <th>Port</th>
            <th>Protocol</th>
            <th>Target Port</th>
            <th>Type</th>
            <th>Age</th>
            <th>Delete</th>
        </tr>
        </thead>
    </table>
    </div>
    </div>
</div>
<script>
        $("#register").hide();
        $("#login").hide();
        $("#servicesNavLink").addClass("active");
        create_table("services");
</script>
{% endblock %}