{% extends "base.html" %}

{% block body %}



<div class="card card-primary " style="max-width: 80rem;">
    <div class="card-header text-center">
        <div class="row">
            <div class="col">
              <h4>Admin Cluster Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="card-block">
        {%block nav_tabs%}
            {{ super() }}
        {%endblock%}
    <div class="table-responsive table-hover">
    </br>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>


            <th>last Update Time</th>

            <th>Reason</th>
            <th>Type</th>


            <th>Replicas</th>

            <th>Status</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        {% for x in data %}
         {% for conditions in x['Info']['conditions'] %}
            <tr>
            <td>{{x['Name']}}</td>


            <td>{{ conditions['lastUpdateTime']}}</td>

            <td>{{ conditions['reason']}}</td>
            <td>{{ conditions['type']}}</td>


            <td>{{x['Info']['replicas']}}</td>

            <td class="text-center">
                {% if conditions['status'] == "True" %}
                     <label class="">
                        <span style="color:green" class="fa fa-check-circle fa-2x"></span>
                    </label>
                {% else %}
                    <label class="">
                        <span style="color:red" class="fa fa-times-circle fa-2x"></span>
                    </label>
                {% endif %}
            </td>
            <td>{{x['Age']}}</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
<script>
        $("#register").hide();
        $("#login").hide();
        $("#deployNavLink").addClass("active");
</script>
{% endblock %}