{% extends "base.html" %}

{% block body %}



<div class="card card-primary " style="max-width: 80rem;">
    <div class="card-header text-center">
        <div class="row">
            <div class="col">
              <h4>Admin Cluster Dashboard</h4>
            </div>
        </div>
    </div>

    <div class="card-block">
        {%block nav_tabs%}
            {{ super() }}
        {%endblock%}
    <div class="table-responsive table-hover">
    </br>
    <table id="deployments_table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>last Update Time</th>
            <th>Reason</th>
            <th>Type</th>
            <th>Replicas</th>
            <th>Status</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
    </table>
    </div>
    </div>
</div>
<script>
        $("#register").hide();
        $("#login").hide();
        $("#deployNavLink").addClass("active");
        create_table("deployments");
</script>
<!--update deplyment modal-->
<div id="update_modal" class="modal fade " tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="update_modal_title">Update App</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col">
                    <form method="post" id="update_form" onsubmit="return false;" action="#">
                        <div class="form-group">
                            <label class="col control-label">Name</label>
                            <div class="col">
                                <input type="text" name="update_name" id="update_name" placeholder="Enter App Name"
                                       class="form-control lowercase read" readonly required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="col control-label">Container Port</label>
                                    <div class="col">
                                        <input type="number" min="1" name="port" id="update_port" placeholder="Port"
                                               class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" id="update_replicas_input">
                                <div class="form-group">
                                    <label class="col control-label">Replicas</label>
                                    <div class="col">
                                        <input type="number" min="1" name="replicas" id="update_replicas"
                                               placeholder="Replicas" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <button id="submit_update" type="submit" class="btn btn-success btn-md">
                                    Update App
                                </button>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
            <!--End of modal body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-warning" data-dismiss="modal">Close</button>
            </div>
            <!--End of modal footer-->
        </div>
        <!--End of modal content-->
    </div>
    <!--End of modal-->

</div>
{% endblock %}