{%extends "base.html"%}
{%block body%}
<div class="card text-center">
    <div class="card-header text-center"><h4>Register Base Station</h4></div>
<h4>Login</h4>

<form id="login_form" onsubmit="return dontSubmit();">
    <div class="form-group" id="email_form_group">
        <label class="col control-label">Email Address:</label>
        <div class="col">
            <input type="email" name="email" id='email' maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   title="Input Valid email address" placeholder="Enter Email Address Here.." class="form-control" required>
        </div>
    </div>
    <div class="form-group d-none form_toggle">
        <label class="col control-label">Password:</label>
        <div class="col">
            <input type="password" name="passw" id="passw" maxlength="100" placeholder="Enter Password" class="form-control" required>
        </div>
    </div>
    <div class="form-group d-none form_toggle">
        <label class="col control-label">Base Station Name:</label>
        <div class="col">
            <input name="base_station_name" id="base_station_name" maxlength="100" placeholder="Enter Base Station Name" class="form-control" required>
        </div>
    </div>
    <div class="form-group d-none form_toggle">
        <label class="col control-label">Base Station Mac Address:</label>
        <div class="col">
            <input name="mac_address" id="mac_address" maxlength="100" placeholder="Enter Mac Address" class="form-control" required>
        </div>
    </div>
    <div class="row" style="">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group">
                <div class="col">
                <button type="button" onclick="user_exists();" id="login_btn" class=" btn btn-block btn-success">Login</button>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6"></div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group">
                <div class="col">
                <button type="button" onclick="register_api()" id="register_btn" class=" btn btn-block btn-danger">Register</button>
                </div>
            </div>
        </div>
    </div>
<br>
    </form>
    </div>
    {%endblock%}